body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
}
body {
    background-color: #00afcc;
}
.container {

    display: inline-block;
    width: 800px;
    margin-top: 80px;
    margin-left: calc(50% - 400px);
}
.left-column {
    width: 40%;
    float: left;
    padding: 40px;
    margin-top: 20px;
    background-color:#494eac;
    background-image: url(../img/hill.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}
.main-title {
    display: inline-block;
    width: 100%;
    font-weight: normal;
    font-size: 32px;

}
.bottom-link {
    display: inline-block;
    width: 100%;

}
.bottom-links > .link {
    color: #ffffff;
    font-size: 14px;

}
.right-column {
    width: 60%;
    float: left;
    padding: 60px;
    background-color: #ffffff;
}
.close {
    display: inline-block;
    
}
.right-column span {
    display: inline-block;
    padding: 15px;
    line-height: 20px;
    margin-left: 15px;
    font-size: 15px;
}
 .right-column a {
    display: inline-block;
    padding: 15px;
    line-height: 20px;
    text-decoration: none;
 }

 .right-column a:hover {
    text-decoration: underline;
 }
